* {
    box-sizing: border-box;
}


.grid{
    display: grid;

}


.grid.add-gutters{
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.6rem;
}


@media (width < 400rem){
    .grid.nav-grid{
        display: flex;
        justify-content: center;
        text-align:center;
        grid-template-columns: 1fr 1fr;
    }
}



/********* Requirement-section **********/
/* For screens smaller than ? - 3 columns per row */
@media screen and (max-width: 100rem) {
    .Requirement-container {
        justify-content: center;  /* Centers the blocks */
        grid-template-columns: 1fr 1fr 1fr;  /* 3 columns */
    }
    
}


/********* Footer **********/
/* About */
@media (max-width: 30rem) {
    .about-section {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* About - paragraph */
@media (min-width: 50rem) {
    .footer p {
        width: 95%; 
        max-width: 100%; 
    }
}

@media (width < 400rem){
    .grid.nav-grid{
        display: flex;
        justify-content: center;
        text-align:center;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 20rem){
    .grid.footer-grid{
        display: flex;
        justify-content: center;
        text-align:center;
        grid-template-columns: 1fr 1fr;
    }
}