body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 1.25rem;
}



/********** DONT DELETE **********/
h2 {
	font-weight: normal;
} 







/********** Top navigation bar - styling **********/
.top-nav{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    height: 100%;
	padding: 1rem;
    background-color:  rgb(19,121,95);
    /* font styling */
    color: black;
}
.column{
    display: inline-block;
    width: 5rem;
    margin: 0.5rem;
    background-color: white;
	border-radius: 0.25rem;
}


/********* Navigation section - styling **********/
.navigation-section{
	margin-top: 1.5rem;
	margin-bottom: 0;
	margin-left: 1.5rem;
}


/* < Back button - styling */
.nav-back{
	width: 6rem;
	padding: 0.5rem;
	color: black;
	background-color: rgb(248, 238, 225);
	border: 0.25rem solid rgb(19,121,95);
	border-radius: 0.25rem;

	display: flex;
	justify-content: center;
    text-align: center;

	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.nav-back:active, .nav-back:focus, .nav-back:hover {
	color: white;
	background-color: rgb(50,50,50);
}

/* All grants|LEVEL youth grant (Develop) - styling */
.all-grants-container{
	margin-top: 1.5rem; 
}
.all-grants {
    font-size: 1.25rem;
    color: rgb(179, 179, 179);
    margin-left: 0;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
.level-youth {
    color: rgb(77, 77, 77);
	font-size: 1.25rem;
	margin-top: 0.5rem;
	padding-top: 0.5rem;
}

/* Vancouver Foundation | A BC-Award - styling */
.center-text{
	font-size: 1rem;
	text-align: center;
	margin-top: 1.5rem;
}





/********** Title and Amount and Category- styling **********/
.title-category-section{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;


}

/* Title - styling */
.title-category-section h1{
	font-size: 2.2rem;
	text-align: center;
	margin: 0.75rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* Subtitle - styling */
.title-category-section h2{
	font-size: 1.85rem;
	text-align: center;
	margin: 0.75rem;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

.title-category-section h2 .amount {
	font-weight: bold;
}

/* Category - styling */
.category-container{
	display: flex;
    flex-direction: row; /* Change from column to row to put items in one line */
    justify-content: center; /* Center items horizontally */
    align-items: center; 
	gap: 0.75rem;
	padding-top: 0.5rem;
}
.nav-category {
	display: inline-block;
	text-align: center;

	width: 7rem;
	padding: 0.5rem;

	font-size: 1.2rem;
	text-decoration: none;
	color: rgb(19,121,95);
	background-color: white;
	border: 0.25rem solid rgb(19,121,95);
	border-radius: 0.5rem;
}






/********** Dates-and-Requirements - styling **********/

.requirement-date-section{
	display: flex;
    flex-direction: column;
	/* width: 100%; */
    justify-content: center;
    align-items: center;
	background-color: rgb(136 178 159);
	border-radius: 0.5rem;

	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 1.5rem;
}


.requirement-date-section h1{
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
	width: 100%;
	padding-bottom: 0.5rem;
	padding-left: 2rem;
	padding-top: 0.75rem;
	margin-bottom: 0;
}

.requirement-date-section p{
	color: white;
	font-size: 1.1rem;
	width: 100%;
	line-height: 1.25;
	padding-top: 0.25rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 0;
}



.apply-ddl{
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	display: flex;
	text-align: center;
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

.award-time,
.grant-term{
	color: white;
	font-size: 1.3rem;
	display: flex;
	text-align: center;
}










/********** Description and Grant link **********/
.description-link-section{
	margin-top: 2.5rem;

	
}


.description-link-section h1{
	font-size: 1.25rem;
	font-weight: bold;
    font-weight: 700;
	margin-left: 1.5rem;
	margin-top: 0.75rem;
	margin-bottom: 0;
}

.description-link-section p{
	display: flex;
	flex-wrap: wrap;
    width: 100%;
	max-width: 80rem;
	line-height: 1.25;

	margin: 3rem auto;
	margin-top: 0;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}




.nav-link{
	margin-top: 1.5rem;
}


/*** Grant Link - styling ***/
.grant-link{
	font-size: 1.25rem;
	text-decoration: none;
	margin: 1.5rem;
	margin-left: 5rem;
	padding: 0.5rem;
	
	color: white;
	background-color: rgb(136 178 159);
	border: 0.25rem solid rgb(19,121,95);
	border-radius: 0.25rem;

	text-decoration: none;
	transition-property: rgb(108 138 130);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}


.grant-link:hover, .grant-link:focus{
	color: rgb(19,121,95);
	background-color: rgb(136 178 159);

}






/************ Footer - styling ***********/
.footer{
    padding: 2.5rem;
	margin-top: 2rem;
	color: white;
    background-color: rgb(19,121,95);
}
.footer h1{
    font-size: 1.6rem;
	margin-bottom: 0.75rem;
    text-align: left;
	margin-left: 0;
}
.about-section{
	display: flex;
	flex: 1;
	margin-bottom: 2rem;
    /* width: 90%; */
}
.footer p{
	font-size: 0.9rem;
    display: flex;
    width: 90%;
    flex-wrap: wrap; /* Allow items to wrap to next line */

	line-height: 1.25;
    margin-left: 0;
	margin-right: 3rem;
    padding-left: 0;
	padding-top: 0.5rem;
}
.about-title{
	font-size: 1.1rem;
	padding: 0;
	margin: 1rem;
    margin-left: 0;
	margin-bottom: 0.3rem;
}
.center-copyright{
	text-align: center;
	font-size: 0.8rem;
    /* max-width: 30rem; shorten the line-length & content compress with the browser window */
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5rem;
}
